<div class="card">
    <img class="card-img-top" src="{{product.imageUrl}}">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Indian_Rupee_symbol.svg/10px-Indian_Rupee_symbol.svg.png" alt="rupee">
          {{product.price}}
      </p>
    </div>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
        <button  *ngIf="(shoppingCart.getQuantity(product) === 0); else updatedCard;" (click)="addToCart(product)" class="btn btn-secondary btn-block">Add to Cart</button>
    </div>
    <ng-template #updatedCard>
        <product-quantity [product]="product" [shoppingCart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>